<div class="card text-white bg-secondary mb-3" style="max-width: auto">
  <div class= "col-lg-6 mx-lg-auto" style="margin: 50px; >
    <div class="card shadow">
      <div class="card-header bg-striped text-white">
        <h2 class="card-title" >Add Floor</h2>
      </div>
      <div class="card-body bg-info text-white">
        <%= render "form"%>
      </div>
    </div>
  </div>
</div>  
