<h3> All Slots</h3>
<%= render "slot"%>




<%
=begin%>
 
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <%= link_to 'All', "#", class: "btn btn-primary m-1" %>
    </li>
    <li class="nav-item">
      <%= link_to 'Booked', "#", class: "btn btn-primary m-1" %>
    </li>
    <li class="nav-item">
      <%= link_to 'Empty', "#", class: "btn btn-primary m-1" %>
    </li>
  </ul> 
<%
=end%>


