

 congratulation <%= @ud.client_name %> parking slot successfully booked. now you can park your car.


<ul>
<li><strong>floor: <strong><%= @ud.floor_id %></br></li>
<li><strong>price</strong><%= @ud.price %></br></li>
</ul>

Thankyou