

Congratulation <%= @ud.name %> Parking slot successfully booked.You can park your car.

<ul>
<% m= @ud.out_time %>
<% n= @ud.in_time %>
<li><strong>Slot Id: <strong><%= @ud.slot_id %></li>
<li><strong>Floor: <strong><%= @ud.slot.floor_id%></li>
<li><strong>Price: <strong><%= (((m-n)/1.hours).round)*100%></li>
</ul>

Thankyou